//  resolutions

$desktopScreenMinWidth: 1280px
$mobileScreenMaxWidth: 1279px

//  colors

$black: #01100D
$white1: #F0FBF7
$white2: #EFF9F5
$white3: #E7EEF3
$white4: #C0CEC9

$green1: #588172
$green2: rgba(88, 129, 114, .2)
$green3: #31E7A7
$green4: #06322A
$green5: #5d9b88
$green6: #10231C