//  resolutions

$desktopScreenMinWidth: 1500px
$mobileScreenMaxWidth: 1499px

//  colors

$crimson-red: #F91D38
$gray: #EFEFEF
$dark-gray: rgba(0, 0, 0, 0.2)
$bej: #E7D7B7
$brown: #1D1A1A
$dark-black: rgba(0, 0, 0, 0.9)
$lightgray: #B5B5B5
$paginationGray: #D9D9D9
$closeButtonGray: #706E6E
$red: #FF0000

$text-white: white
$text-gray: #706E6E
$text-lightgray: #B5B5B5
$text-disabled: #D9D9D9
$text-card: #E6DBF5
